/* font, margin and padding applied to all pages */
body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding:0;
    margin:0;
    font-family: "Roboto", sans-serif;
}

.clear-fix {
    overflow: auto;
}

.education-entry,
.work-entry,
.contact-entry,
.project-entry {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0 5%;
}

h1 {
    font-size: 40px;
    color: #f5a623;
    line-height: 48px;
    display: inline;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    color: #999;
    line-height: 29px;
    padding: 10px;
}

h3 {
    font-style: italic;
    font-size: 20px;
    color: #000;
    line-height: 22px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 17px;
}

h2,
h3,
h4,
h5 {
    padding:10px 5%;
}


.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: left;
}

.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: right;
}

p {
    font-size: 14px;
    color: #333;
    line-height: 21px;
}

a {
    color: #1199c3;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

#skills-h3 {
    color: #1199c3;
    display: none;
}

.blue-text {
    color: #1199c3;
}

.white-text {
    font-weight: bold;
    color: #000000;
}

.gray { 
    background-color: #F3F3F3; /* dark background color */
    padding-bottom: 10px;
    clear:both;
}

.dark-gray {
    background-color: #4a4a4a;
}

span {
    padding: 5px; 
}

#lets-connect {
    text-align: center;
}

.center-content {
    padding: 2.5% 5%;
}

ul {
    list-style-type: none;
}

/* style footer */
div#lets-connect > ul#footerContacts{
    width: 100%;
}

div#lets-connect > ul#footerContacts{
    margin-left: 5%;
}

div#lets-connect > ul#footerContacts:after{
    content: "";
    display: table;
    clear: both;
}

div#lets-connect > ul#footerContacts > li{
    float: left;
    padding: 10px 0;
}

/* style header content */
div#header {
    padding-top: 100px;
}

.biopic {
    margin-right: 20px;
    float: left;
    width: 220px;
    height: 220px;
}

div#header > p{
    font-size: medium;
}

/* style projects content */
div#projects > div.project-entry img.projectImg{
   padding: 10px 0px; 
}

div#projects > div.project-entry > p.title{
    font-size: medium;
    margin-top: 10px;
}    

div#projects > div.project-entry > a{
    /* hide the image overflow when hover */
    overflow: hidden;
}

div#projects > div.project-entry > a:hover{
    box-shadow: 3px 3px 8px 1px;
}

img.projectImg{
    width: 260px;
    height: 150px;
    /* make the zoom in effect more smooth */
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

img.projectImg:hover{
    /* zoom in the image when hover */
    transform: scale(1.3);
}

div#projects > div.project-entry{
    padding-left: 5%;
    padding-right: 0;
    display: inline-block;
}

/* style the drop down menu */

div#menu-container{
    position: fixed;
    right: 0px;
    width: 25%;
    height: 100%;
    background-color: rgba(38, 119, 185, 0.5);
    z-index: 2;
}

div#menu-container > a{
    background-color: rgba(63, 66, 69, 0.5);
    color: rgb(255,255,255);
    margin: 2px 0px;
    padding: 5% 20%;
    font-size: large;
    font-weight: bold;
}

div#menu-container > a:hover{
    background-color: rgba(255, 255, 255, 1);
    color: rgb(63, 66, 69);
}

div#menu-cover{
    position: fixed;
    background-color: rgba(38, 119, 185, 0.05);
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* control buttons for the dropdown menu */
div#heading-wrapper > span#menu-btn{
    font-size: 28px;
    border: 3px solid black;
}

div#heading-wrapper > span#menu-btn:hover{
    cursor: pointer;		     
    color: rgb(17, 153, 195);
    border: 3px solid rgb(17, 153, 195);
}

div#menu-container > span#close{
    font-size: 28px;
    display: inline-block;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 30%;
}

div#menu-container > span#close:hover{
    cursor: pointer;		     
    color: rgb(255,255,255);
}

/* make the element(e.g. menu, header) disappear */
.trans{
    display: none;
}

/* adjust the heading */
div#heading-wrapper:after{
    content: "";
    display: table;
    clear: both;
}

div#heading-wrapper{
    background-color: rgba(255, 255, 255, 0.7);
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(153, 153, 153);
}

div#heading-wrapper > span#menu-btn{
    float: right;
    display: inline-block;
}

div#heading-wrapper >  span#name{
    float: left;
    font-size: 28px;
    color: #1199c3;
}


/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
    #lets-connect {
	margin-top: 5%;
    }
}

@media only screen and (max-width:900px) {
    .biopic {
	width: 175px;
    }
}

@media only screen and (max-width: 750px) {
    #lets-connect {
	margin-top: 10%;
    }
    .biopic {
	width: 150px;
    }
    .welcome-message {
	display: none;
    }
}

#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#map-div {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
    #skills-h3,
    .biopic {
	display: block;
    }
}
